In [1]:
import datetime
import pandas as pd
from xgboost import XGBRegressor
import hopsworks
import json
import importlib
from mlfs.airquality import util
importlib.reload(util)
import os

In [2]:
import pandas as pd

names = ['John', 'Sarah', 'Mike', 'Emma']
ages = [32, 28, 41, 24]
salaries = [50000, 60000, 75000, 45000]

df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Salary': salaries
})
print(df)

    Name  Age  Salary
0   John   32   50000
1  Sarah   28   60000
2   Mike   41   75000
3   Emma   24   45000

In [3]:
df['']

    Name  Age  Salary
0   John   32   50000
1  Sarah   28   60000
2   Mike   41   75000
3   Emma   24   45000